# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.ruff_cache

# Virtual environments
venv/
env/
.venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
mytest/
.deepeval/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Qdrant local storage
qdrant_storage/
